{% extends 'index.html' %}
{% load static %}
{% load cache %}

{% block title %}Каталог{% endblock %}

{% block heard %}
    {% include 'search_string.html' %}
{% endblock %}

{% block content %}

<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                {% if sort_message %}
                <h1 class="Middle-title">{{ sort_message }} найдено
                    <strong>{{ object_list.paginator.count }}</strong> позиций</h1>
                {% elif object_list.paginator.count %}
                <h1 class="Middle-title">по запросу найдено
                    <strong>{{ object_list.paginator.count }}</strong> позиций</h1>
                {% elif q %}
                <h1 class="Middle-title">по запросу <strong>"{{ q }}"</strong>
                    найдено <strong>{{ object_list.paginator.count }}</strong> позиций</h1>
                {% else %}
                <h1 class="Middle-title">Catalog Megano </h1>
                {% endif %}
                <div>
                    {% if messages %}
                        {% include 'message.html' %}
                    {% endif %}
                </div>

                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">

                        <a href="{% url 'main_page' %}">home</a>
                        {% if title %} &rsaquo; {{ title }}{% endif %}


                        <!--                        <a href="index.html">home</a>-->
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Catalog</span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">
                            Фильтр
                        </strong>
                    </header>
                    <div>
                        {% if tag %}
                        тег
                        <div class="btn btn_default btn_sm" style="margin-bottom: 5px">
                            <b>{{ tag }}</b>
                            <a href="{% url 'app_item:item_list' %}"><span class="close-cross">X</span></a>
                        </div>
                        {% endif %}
                        </div>
                       <!--    SELECTED TAG TITLE-->
                       <!--    SELECTED CATEGORY TITLE-->
                        <div>
                        {% if category %}
                        категория:
                        <div class="btn btn_default btn_sm" style="margin-bottom: 5px">
                            <b>{{ category }}</b>
                            <a href="{% url 'app_item:item_list' %}"><span class="close-cross">X</span></a>
                        </div>
                        {% endif %}
                    </div>
                        <!--    SELECTED CATEGORY TITLE-->

                    <!-- FILTER TAGS -->
                    <div>
                        {% if get_params.keys %}
                        <a class="btn btn_default" href="{% url 'app_item:item_list' %}">
                            <strong>сбросить всё</strong>
                            <span class="close-cross">X</span>
                        </a>
                        {% endif %}
                        {% for key, val in get_params.items %}
                            <a class="btn btn_small" style="margin-bottom: 5px"
                                href="{% url 'app_item:remove_param' param=val %}">
                                {{ key }}
                                <span class="close-cross">X</span>
                            </a>
                        {% endfor %}
                    </div>
                    <!-- FILTER TAGS -->
                    <div class="Section-columnContent">
                        <!--    FORM    -->
                        <form class="form" action="" method="get">
                            <div class="form-group">
                                <div class="range Section-columnRange">
                                    <input class="range-line" id="price" name="price" type="text" data-offset="" data-type="double"
                                           data-min="{{ price_min_in_category }}"
                                           data-max="{{ price_max_in_category }}"
                                           data-from="{{ data_from_price__min }}"
                                           data-to="{{ data_from_price__max }}"/>
                                    <div class="range-price">цена:&#32;
                                        <div class="rangePrice">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-input form-input_full" id="title" name="title" type="text"
                                       placeholder="Название" value="{{ request.GET.title }}"/>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <label class="toggle">
                                    <input type="checkbox"/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">Только товары в наличии</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="toggle">
                                    <input type="checkbox"/>
                                    <span class="toggle-box"></span>
                                    <span class="toggle-text">С бесплатной доставкой</span>
                                </label>
                            </div>
                             <div class="form-group">

                            </div>
                            <header class="Section-header">
                                <strong class="Section-title">Цвета
                                </strong>
                            </header>
                            <div class="form-group">
                                  {% for color in set_colors %}
                                <label class="toggle">
                                    <input type="checkbox" name="color" value="{{ color }}" multiple/>
                                    <span class="toggle-box" style="background-color:{{color}}; box-shadow: 0 0 2px; padding: 5px" ></span>
                                </label>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <div class="buttons">
                                    <button class="btn btn_square btn_dark btn_narrow" type="submit">Filter</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!--    FORM    -->
                </div>

                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">ТОП 10 тегов
                        </strong>
                    </header>

                    <!--     TAGS        -->
                    <div class="Section-columnContent">
                        <div class="buttons">

                            {% for tag in set_tags|slice:10 %}
                            <a class="btn btn_default btn_sm"
                               href="{% url 'app_item:item_tag' tag=tag.slug %}">
                                #{{tag.title}}({{tag.item_tags.count}})
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <!--     TAGS   END     -->
                </div>
            </div>

            <!--    SORT BY     -->
            <div class="Section-content">
                <div class="Sort">
                    <div class="Sort-title">Сортировать по:</div>
                    <div class="Sort-variants">
                        <a class="Sort-sortBy Sort-sortBy_inc"
                            href="?{% for key, val in request.GET.items %}{% if key not in  'order_by, page' %}{{ key }}={{val|urlencode}}&{% endif %}{% endfor %}order_by=-price">
                            сначала дороже
                        </a>
                        <a class="Sort-sortBy Sort-sortBy_dec"
                           href="?{% for key, val in request.GET.items %}{% if key not in  'order_by, page' %}{{ key }}={{val|urlencode}}&{% endif %}{% endfor %}order_by=price">
                            сначала дешевле</a>
                        <a class="Sort-sortBy Sort-sortBy_inc"
                           href="?{% for key, val in request.GET.items %}{% if key not in  'order_by, page' %}{{ key }}={{val|urlencode}}&{% endif %}{% endfor %}order_by=-best_seller">
                            популярности
                        </a>
                        <a class="Sort-sortBy Sort-sortBy_dec"
                           href="?{% for key, val in request.GET.items %}{% if key not in  'order_by, page' %}{{ key }}={{val|urlencode}}&{% endif %}{% endfor %}order_by=best_seller">
                            популярности
                        </a>
                        <a class="Sort-sortBy Sort-sortBy_dec"
                           href="?{% for key, val in request.GET.items %}{% if key not in  'order_by, page' %}{{ key }}={{val|urlencode}}&{% endif %}{% endfor %}order_by=by_comments">
                            отзывам
                        </a>

                        <a class="Sort-sortBy Sort-sortBy_dec"
                           href="?{% for key, val in request.GET.items %}{% if key not in  'order_by, page' %}{{ key }}={{val|urlencode}}&{% endif %}{% endfor %}order_by=-created">
                            новые
                        </a>

                    </div>
                </div>
                <!--    SORT BY END    -->

                <!--       PAGINATION         -->
                <div>{% include "pagination.html" %}<br><br></div>
                <!--       PAGINATION         -->

                <!--    CARD    -->
                <div class="Cards" id="all_cards">
                    {% for item in object_list %}
                    <div class="{% if item in in_cart %}
                                 in_cart_item
                                {% endif %}
                                {% if forloop.counter < 5 %}Card
                                {% elif forloop.counter < 7 %}Card hide_md
                                {% else %}Card hide_md hide_1450
                                {% endif %}"

                         data-price="{{ item.price }}"
                         data-views="{{ item.total_views }}"
                         data-comments="{{ item.item_comments.count }}"
                         data-new="{{ item.created }}">

                        <a class="Card-picture" href="{% url 'app_item:item_detail' item.pk %}"
                           title="{{ item.title }}">
                            <img class="card-picture-image" src="

                                    {% if item.image.first %}
                                    {{ item.image.first.image.url }}
                                    {% else %}/media/default_images/default_item.png
                                    {% endif %}"
                                 alt="{{item.title|truncatechars:'6'}}.jpg"/>
                        </a>
                        <div class="Card-icon-view-and-sell">
                            <div class="Card-icon Card-icon-image">
                                <a href="{% url 'app_item:item_detail'  item.pk %}#reviews">
                                    <img src="/assets/img/icons/comments.svg" width="20" height="20">
                                </a>
                            </div>
                            <div class="Card-icon">{{ item.item_comments.count }}</div>
                            <div class="Card-icon Card-icon-image">
                                <img src="/assets/img/icons/view.svg" width="20" height="20"></div>
                            <div class="Card-icon">{{ item.total_views }}</div>
                            <div class="Card-icon Card-icon-image">
                                <img src="/assets/img/icons/cart.svg" width="20" height="20"></div>
                            <div class="Card-icon">{{ item.cart_item.count }}</div>
                        </div>

                        {% if item in in_cart %}
                            <div class="Card-item_in_cart">В КОРЗИНЕ</div>
                        {% endif %}
                        <div class="Card-pin"></div>
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a href="{% url 'app_item:item_detail' item.pk %}" data-value="{{item.title}}"
                                   title="{{ item.title }}">
                                    {{item.title|truncatechars:14}}
                                </a>
                            </strong>
                            <div class="Card-description">
                                <div class="Card-cost">
                                    <span class="Card-price" id="price_item">${{item.price}}</span>
                                </div>
                                <div class="Card-category">{% if item.category.parent_category %}
                                    {{item.category.parent_category}} / {{item.category}}
                                    {% else %}{{item.category}}
                                    {% endif %}
                                </div>


                                {% if request.user.profile.is_customer %}
                                <div class="Card-hover">
                                    {% if item in in_cart %}
                                    <a href="{% url 'app_cart:remove_cart' pk=item.pk  %}">
                                    удалить из корзины
                                    </a>
                                    {% else %}
                                    <a href="{% url 'app_cart:add_cart' pk=item.pk  %}">
                                        <img src="/assets/img/icons/card/cart.svg" alt="cart.svg"/>
                                        <p>
                                            добавить в корзину
                                        </p>
                                    </a>
                                    {% endif %}

                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="form-group">
                        <h1>Ничего не найдено</h1>
                    </div>
                    {% endfor %}
                </div>


                <!--    CARD     -->

                <!--       PAGINATION         -->
                {% include "pagination.html" %}
                <!--       PAGINATION         -->


            </div>
            <!--    SORT BY     -->

        </div>
    </div>
</div>

{% endblock %}