{% extends 'index.html' %}
{% load static  %}
{% load cache %}
{% block title %}

{% endblock %}

{% block content %}
 <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{{ invoice }}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item">
              <a href="{% url 'app_user:account' user.id %}">личный кабинет
              </a>
            </li>
            <li class="breadcrumbs-item">
              <a href="{% url 'app_user:address_list'  %}"> История заказов</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current">
              <span>{{ invoice.id }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
     {% include 'message.html' %}
    <div class="Section">
      <div class="wrap">
        <div class="Section-content">
          <div class="Orders">
          </div>
          <div class="Order">
            <div class="Order-infoBlock">
              <div class="Order-personal">
                <div class="row">
                  <div class="row-block">
                    <div class="Order-info Order-info_date">
                      <div class="Order-infoType">Дата:</div>
                      <div class="Order-infoContent">{{ invoice.created|date:'j F o H:m' }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Получатель:</div>
                      <div class="Order-infoContent">{{ invoice.recipient }}</div>
                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Плательщик:</div>
                      <div class="Order-infoContent">{{ invoice.order.user.get_full_name }}</div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="Order-info Order-info_delivery">
                       <div class="Order-infoType">Способ оплаты:</div>
                      <div class="Order-infoContent">{{ invoice.order.get_pay_display }}</div>

                    </div>
                    <div class="Order-info">
                      <div class="Order-infoType">Номер документа:</div>
                      <div class="Order-infoContent">**** **{{ invoice.number|slice:"6:" }}</div>
                    </div>
                     <div class="Order-info">
                      <div class="Order-infoType">Сумма:</div>
                      <div class="Order-infoContent">$ {{ invoice.order.total_sum }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}