{% extends 'seller_index.html' %}
{% load static %}
{% load cache %}

{% block title %}Каталог{% endblock %}

{% block heard %} {% include 'search_string.html' %} {% endblock %}

{% block content %}

<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">

                <h1 class="Middle-title">
                    <input class="btn btn_default btn_square" type="button" onclick="history.back(-2); return false;" value="Назад"/>
                    {% if request.GET.sort_by_letter %}
                    Все теги на букву <strong>"{{ request.GET.sort_by_letter }}"</strong>
                    {% else %}
                        теги
                    {% endif %}
                </h1>

                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">

                        <a href="{% url 'main_page' %}">home</a>
                        {% if title %} &rsaquo; {{ title }}{% endif %}


                        <!--  <a href="index.html">home</a>-->
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Catalog</span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Добавить тег</strong>
                    </header>

                    <div class="Section-columnContent">
                        <!--    FORM    -->
                        <form class="form" action="{% url 'app_store:create_tag' %}" method="post">
                           {% csrf_token %}

                            <div class="form-group">
                                <label class="form-label" for="title">Название тега</label>
                                {% if form.errors.title %}
                                <div class="form-error" >
                                    {{ form.errors.title }}
                                </div>
                                {% endif %}
                                <input class="form-input form-input_full" id="title" name="title" type="text"
                                       placeholder="Название" value="{{ request.POST.title}}"/>
                            </div>
                            <div class="form-group">
                                <div class="buttons">
                                    <button class="btn btn_square btn_dark btn_full" type="submit">Создать тег
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!--    FORM    -->
                </div>


            </div>

            <!--    SORT BY     -->
            <div class="Section-content">
                   <div>{% include 'message.html' %}</div>
                <div class="Sort">
                    <div class="Sort-title">Найти по алфавиту:</div>
                    <div class="Sort-variants">
                         <a class="Pagination-element Tag-alphabet_letter"
                           href="{% url 'app_store:tag_list' %}">
                            все
                        </a>
                        {% for letter in alphabet %}
                        <a class="Pagination-element"  href="?sort_by_letter={{letter}}">
                            {{ letter|lower }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <!--    SORT BY END    -->

                <!--       PAGINATION         -->
                <div>{% include "pagination.html" %}<br><br></div>
                <!--       PAGINATION         -->
                <div class="Orders">
                    {% for cat in object_list %}
                    <div class="btn btn_default" style="margin:5px">
                        <span class="Order-numberOrder">{{ cat.title }}</span>
                    </div>
                    {% empty %}
                    {% if form.errors.title %}
                        <div class="Order Order_anons">
                            <div class="form-error">ОШИБКА!
                                <p>{{ form.errors.title }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="Order"><h2>Ничего не найдено</h2></div>
                    {% endif %}
                    {% endfor %}
                </div>

                <!--       PAGINATION         -->
                {% include "pagination.html" %}
                <!--       PAGINATION         -->

            </div>
            <!--    SORT BY     -->
        </div>
    </div>
</div>

{% endblock %}