{% extends 'seller_index.html' %}
{% load static  %}
{% load cache %}
{% block title %}
Заказы магазина
{% endblock %}

{% block content %}
<div class="Middle Middle_top">
     <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">
                    {% if request.GET.store %}
                        Заказы магазина <strong>{{ request.GET.store }}</strong>
                    {% elif request.GET.status %}
                        {% for status in status_list %}
                            {% if request.GET.status  == status.0 %}
                                заказы со статусом <strong>{{ status.1 }}</strong>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        все заказы
                    {% endif %}</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="index.html">home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>История заказов</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     {% include 'message.html' %}
    <div class="Section">
        <div class="wrap">
            <div class="Section-content">
                <div class="Orders">
                    <div class="Sort">
                        <div class="Sort-title">Мои магазины:</div>
                        <div class="Sort-variants">
                            {% for store in user.store.all %}
                            <a class="Sort-sortBy"
                               href="{% url 'app_store:delivery_list' %}?store={{ store.title }}">
                                <span class="btn {% if request.GET.store == store.title %}
                                    btn_success
                                {% else %}
                                    btn_default
                                {% endif %}">{{ store.title|upper }}
                                </span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="Order">
                    {% if request.GET.store %}
                    {% for store in user.store.all %}
                    {% if request.GET.store == store.title %}
                    <div class="Order-infoBlock">
                        <div class="Order-personal">
                            <div class="row">
                                <div class="row-block">
                                    <div class="Order-info Order-info_date">
                                        <div class="Order-infoType">Количество всех заказов:</div>
                                        <div class="Order-infoContent">{{ store.orders.count }}</div>
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="Order-info Order-info_delivery">
                                        <div class="Order-infoType">Проданно товаров:</div>
                                        <div class="Order-infoContent">{{ store.paid_item }}</div>
                                    </div>
                                    </div>
                                    <div class="row-block">
                                    {% for status in status_list %}
                                    {% if request.GET.status == status.0 %}
                                    <div class="Order-info">
                                        <div class="Order-infoType">Статус ({{ status.1|title }}):</div>
                                        <div class="Order-infoContent">{{ orders.count }}</div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <div class="Sort">
                        <div class="Sort-title">Сортировать по:</div>
                        <div class="Sort-variants">
                            <a class="Sort-sortBy " href="{% url 'app_store:delivery_list' %}?{% if request.GET.store %}&store={{ request.GET.store }}&{% endif %}">
                                <span>все заказы
                                </span>
                            </a>
                            {% for status in status_list %}
                            <a class="Sort-sortBy "
                               href="{% url 'app_store:delivery_list'  %}?{% if request.GET.store %}&store={{ request.GET.store }}&{% endif %}status={{ status.0 }}">
                             <span class="{% if request.GET.status == status.0 %} btn btn_success btn_square btn_sm {% endif %}">{{ status.1 }}
                            </span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="Orders">
                        {% if orders %}
                        <!--    TABLE HEAD      -->
                        <div class="Order Order_anons">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block ">
                                        <div class="Order-infoContent-left">номер товара
                                        </div>
                                    </div>
                                    <div class="row-block Order-list-infoContent-right">
                                        <span class="Order-list-infoContent-right">статус</span>
                                    </div>
                                    <div class="row-block Order-list-infoContent-right">
                                        <div class="Order-list-infoContent-right">дата</div>
                                    </div>
                                    <div class="row-block Order-list-infoContent-right">
                                        <div class="Order-list-infoContent-right"> кол-во</div>
                                    </div>
                                    <div class="row-block Order-list-infoContent-right">
                                        <div class="Order-list-infoContent-right"> сумма</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--    TABLE HEAD      -->
                        {% endif %}
                        <div class="Order Order_anons">
                            <div class="Order-personal">
                                <form class="row" method="get" action=".">
                                    <div class="row-block"></div>
                                    <div class="row-block">
                                        <span class="Order-list-infoContent-right">
                                            <input class="form-input form-input_full" type="text"
                                                   name="number" placeholder="введите номер заказа"
                                                   value="{{ request.GET.number }}">
                                        </span>
                                    </div>
                                    <div class="row-block">
                                         <span class="Order-list-infoContent-right">
                                             <button class="btn btn_success  btn_full"
                                                     type="submit">найти</button>
                                         </span>
                                    </div>
                                    <div class="row-block"></div>

                                </form>
                            </div>
                        </div>
                        <!--    TABLE BODY     -->
                        {% for cart_item in cart_items %}
                        <div class="Order Order_anons">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block">
                                        <a class="Order-info" >
                                            <span class="Order-numberOrder">{{ cart_item.item }}</span><br>
                                        </a>
                                        <div class="row-block">
                                            <a href="{% url 'app_store:delivery_detail' cart_item.order.id %}" >
                                                {{ cart_item.order }}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row-block Order-list-infoContent-right">
                                        <div class="Order-info Order-list-infoContent-right">
                                            <div class="Order-list-infoContent-right"></div>
                                        </div>
                                        <div class="Order-info Order-list-infoContent-right">
                                            <div class="Order-list-infoContent-right">
                                                <span>{{ cart_item.get_status_display|upper }}</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row-block Order-list-infoContent-right">
                                        <div class=" Order-info_pay ">
                                            <div class=" Order-list-infoContent-right"></div>
                                        </div>
                                        <div class="Order-info Order-list-infoContent-right">
                                        <span class=" Order-list-infoContent-right Order-price">
                                            {{ cart_item.created|date:"j M o" }}</span>
                                        </div>
                                    </div>
                                    <div class="row-block Order-list-infoContent-right">
                                        <div class=" Order-info_pay ">
                                            <div class=" Order-list-infoContent-right"></div>
                                        </div>
                                        <div class="Order-info Order-info_pay">
                                            <div class="Order-list-infoContent-right ">
                                                <span class="Order-price">{{ cart_item.quantity }} шт.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-block Order-list-infoContent-right">
                                        <div class="Order-info">
                                            <div class="Order-infoType Order-list-infoContent-right"></div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-list-infoContent-right">
                                                <span>$</span>
                                                <span class="Order-price">{{ cart_item.total|floatformat:"2" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if order.error %}
                                <div class="row">
                                    <div class="Order-info Order-info_error">
                                        <div class="Order-infoType">Оплата не прошла:
                                        </div>
                                        <div class="Order-infoContent">Оплата не выполнена, т.к. {{ order.error }}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% empty %}
                        <div class="Order Order_anons">Ничего не найдено</div>
                        {% endfor %}
                        <!--    TABLE BODY     -->


                    </div>
                    <div class="Cart Cart_order">
                        {% for item in items_is_paid %}
                        {% ifchanged %}
                        <h3>{{ item.item.store }}</h3>
                        {% for invoice in item.item.store.all_store_invoices.all %}
                        {% if order == invoice.order %}
                        <a href="{% url 'app_order:invoices_detail'  invoice.id%}">{{ invoice }}</a>
                        {% endif %}
                        {% endfor %}
                        {% endifchanged %}
                        <div class="Cart-product">
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_pict">
                                    <a class="Cart-pict" href="{% url 'app_item:item_detail' pk=item.item.pk %}">
                                        <img class="Cart-img" src="{{ item.item.image.first.image.url }}"
                                             alt="{{ item.item.title }}"/>
                                    </a>
                                </div>
                                <div class="Cart-block Cart-block_info">
                                    <a class="Cart-title" href="{% url 'app_item:item_detail' pk=item.pk %}">{{
                                        item.item.title }}</a>
                                    <div class="Cart-desc">{{ item.item.description|truncatechars:50 }}</div>
                                </div>
                                <div class="Cart-block Cart-block_row"> {{ item.get_status_display }}</div>
                                <div class="Cart-block Cart-block_row"></div>
                                <div class="Cart-block Cart-block_price">
                                    <div class="Cart-price">{{ item.price }}$
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_amount">{{ item.quantity }} шт.</div>
                                <div class="Cart-price">{{ item.total }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
  </div>

{% endblock %}