{% extends 'index.html' %}
{% load static  %}
{% load cache %}

{% block title %}
Оплата заказа картой
{% endblock %}

{% block content %}
<div id="form_container"  class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Оплата по карте
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="index.html">home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>Оплата</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <div id='spinner' style="display:none" class="ProgressPayment">
                <div class="ProgressPayment-title">Ждем подтверждения оплаты платежной системой
                </div>
                <div class="ProgressPayment-icon">
                    <div class="cssload-thecube">
                        <div class="cssload-cube cssload-c1"></div>
                        <div class="cssload-cube cssload-c2"></div>
                        <div class="cssload-cube cssload-c4"></div>
                        <div class="cssload-cube cssload-c3"></div>
                    </div>
                </div>
            </div>

            <form id="form" class="form Payment"  action="{% url 'app_order:progress_payment' order.id %}" method="post" >
                {% csrf_token %}
                <div class=" Payment-card">
                    <div class="form-group ">
                        <label class="form-label">

                            <div class="form-shadow" style="margin-bottom:20px;">
                                <label class="Order-infoContent-right" style="margin-bottom:20px;">номер заказа</label>
                                <!-- ERROR MESSAGE   -->
                                {% if form.errors %}
                                <div class="form-error form-textarea_error" role="alert">
                                    <ul>{% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                        <li>{{error}}</li>
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                <!-- ERROR MESSAGE   -->

                                <div class="Order-infoContent-left">
                                    <input type="hidden" name="recipient" id='recipient' value="{{ order.store.id }}" >
                                    <input type="checkbox" name="order" id='order' value="{{ order.id }}" multiple>
                                    <span class="Order-infoContent-right Cart-price">{{ order }}</span>
                                </div>
                                {% for item in order.items_is_paid.all %}
                                <ul>
                                    <li class="Order-infoContent-left">
                                        <div>{{ item.item }}</div>
                                        <span>{{ item.quantity }} шт.</span> *
                                        <span>{{ item.total }}</span>
                                    </li>
                                </ul>
                                {% endfor %}
                                <label class="Cart-total-order form-label">сумма заказа</label>
                                <label class="Cart-total-order form-label"><b>{{ order.total_sum }}</b></label>
                            </div>

                        </label>

<!--                        {% for item in order.items_is_paid.all %}-->
<!--                        <label class="Cart-total-order form-label"> {{ item.item.title }}</label>-->
<!--                        {% endfor %}-->

                    </div>
                    <div class="form-shadow form-group">
                        {% if form.errors %}
                        <div class="form-error form-textarea_error" role="alert">
                            <ul>{% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                <li>{{error}}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <label class="form-label">Номер карты</label>
                        <input class="form-input Payment-bill" id="number" name="number"
                               type="text" placeholder="9999 9999" data-mask="9999 9999"/>
                    </div>
                </div>
                <div class="Payment-pay">
                    <button class="btn btn_primary"   id="pay_button" type="submit">Оплатить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="hidden_section"   class="Middle Middle_top hide_comment">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Ожидание оплаты
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="index.html">home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Ожидание оплаты</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <div class="ProgressPayment">
                <div class="ProgressPayment-title">Ждем подтверждения оплаты платежной системой
                </div>
                <div class="ProgressPayment-icon">
                    <div class="cssload-thecube">
                        <div class="cssload-cube cssload-c1"></div>
                        <div class="cssload-cube cssload-c2"></div>
                        <div class="cssload-cube cssload-c4"></div>
                        <div class="cssload-cube cssload-c3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
<!---->
</script>
{% endblock %}



