{% extends 'seller_index.html' %}
{% load static %}
{% load cache %}


{% block title %}Список характеристик{% endblock %}

{% block heard %} {% include 'search_string.html' %} {% endblock %}

{% block content %}
<div class="Middle Middle_top" xmlns="http://www.w3.org/1999/html">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Список характеристик
                </h1>

                {% block breadcrumbs %}
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'app_store:category_list'  %}">Список категорий</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>{{ category }}</span>
                    </li>
                </ul>
                {% endblock %}
            </div>
        </div>
    </div>
    {% include 'message.html' %}
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">
                                категория:
                            </strong>
                        </header>
                        <div>
                            <div class="primary-text" style="margin-bottom: 5px">
                                <b>{{ category.title }}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">
                           {% if category.sub_categories.all %}
                            Подкатегории
                            {% else %}
                            Характеристики категории
                            {% endif %}
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        {% if category.sub_categories.all %}
                        <div> {% for sub_category in category.sub_categories.all %}
                            <div class="primary-text" style="margin-bottom: 15px">
                                <a href="{% url 'app_store:feature_list' pk=sub_category.pk %}">
                                    {{ sub_category.title| lower }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div> {% for feature in features %}
                            <div class="primary-text" style="margin-bottom: 15px">
                                <a href="#{{ feature }}">{{ feature.title| lower }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!--    SORT BY     -->
            <div class="Section-content">
                {% if not category.sub_categories.all %}
                <div class="Sort">
                    <div class="Sort-title">Добавить значение характеристики</div>
                </div>
                <!--    SORT BY END    -->
                <div class="Orders">
                    <div class="Order Order_anons">
                        <div class="Order-personal">
                            <div class="row-block">
                                <div class="Order-title">
                                    <div class="Order-numberOrder">
                                        <a href="{% url 'app_store:feature_create' pk=category.pk %}"
                                           class="btn btn_success btn_square">+ Добавить характеристику
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Orders">

                    {% for feature in features %}
                    <div class="Order Order_anons">
                        <div class="Order-personal">
                            <div class="row-block">
                                <div class="Order-title">
                                    <div id="{{ feature }}" class="Order-numberOrder">{{ feature }}
                                    </div>
                                    <ul>
                                        {% for value in feature.values.all %}
                                        <li class="Order-numberOrder" style="margin:0 0 10px 20px;">{{ value }}
                                        </li>
                                        {% endfor %}
                                        <li class="Order-numberOrder" style="margin:0 0 10px 20px;">
                                            <a href="{% url 'app_store:feature_value_create' pk=feature.pk %}"
                                               class="btn btn_primary btn_square btn_sm">
                                                + добавить новое значение характеристики
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <div class="Order">
                            <h3>Ничего не найдено
                            </h3>
                        </div>
                    {% endfor %}

                <!--       PAGINATION         -->
                {% include "pagination.html" %}
                <!--       PAGINATION         -->

                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}